<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button
    (click)="loginWithGoogle()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Login With Google
  </ion-button>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required=""
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Repeat Password</ion-label>
      <ion-input
        formControlName="repeatPassword"
        type="password"
        required=""
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <ion-button routerLink="/login">Back to Login</ion-button>
</ion-content>
