<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="club">
  <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input placeholder="Name" required="true" [(ngModel)]="club.name"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input placeholder="" required="true" [(ngModel)]="club.description"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Type</ion-label>
        <ion-select required="true" [(ngModel)]="club.type">
          <ion-select-option value="Driver">Driver</ion-select-option>
          <ion-select-option value="Fairway Wood">Fairway Wood</ion-select-option>
          <ion-select-option value="Hybrid">Hybrid</ion-select-option>
          <ion-select-option value="Iron">Iron</ion-select-option>
          <ion-select-option value="Wedge">Wedge</ion-select-option>
          <ion-select-option value="Putter">Putter</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Shaft</ion-label>
        <ion-select required="true" [(ngModel)]="club.shaft">
          <ion-select-option value="Graphite">Graphite</ion-select-option>
          <ion-select-option value="Steel">Steel</ion-select-option>
        </ion-select>
  </ion-item>

  <ion-item>
        <ion-label position="stacked">Loft</ion-label>
        <ion-input type="number" placeholder="" required="true" [(ngModel)]="club.loft"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Brand</ion-label>
        <ion-input placeholder="" required="true" [(ngModel)]="club.brand"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Model</ion-label>
        <ion-input placeholder="" required="true" [(ngModel)]="club.model"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Image URL</ion-label>
        <ion-input placeholder="" required="true" [(ngModel)]="club.image"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label type="number" position="stacked">Min Distance</ion-label>
        <ion-input placeholder="" required="true" [(ngModel)]="club.minDistance"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label position="stacked">Max Distance</ion-label>
        <ion-input type="number" placeholder="" required="true" [(ngModel)]="club.maxDistance"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label>Currently Using</ion-label>
        <ion-checkbox type="checkbox"  required="true" [(ngModel)]="club.current"></ion-checkbox>
  </ion-item>
  <div class="ion-margin">
    <ion-button expand="full" (click)="saveClub()">Save</ion-button>
  </div>
</ion-content>
