<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/course"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Course</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="currentCourse">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Course Name</ion-label>
            <ion-input
              name="name"
              required
              [(ngModel)]="currentCourse.name"
              type="text"
              placeholder="name?"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Phone</ion-label>
            <ion-input
              size="2"
              name="phone"
              [(ngModel)]="currentCourse.phone"
              type="phone"
              placeholder="phone"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Website</ion-label>
            <ion-input
              size="2"
              name="website"
              [(ngModel)]="currentCourse.website"
              type="website"
              placeholder="website"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">State</ion-label>
            <ion-input
              size="1"
              name="state"
              [(ngModel)]="currentCourse.state"
              type="text"
              placeholder="state"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">City</ion-label>
            <ion-input
              size="2"
              name="city"
              [(ngModel)]="currentCourse.city"
              type="text"
              placeholder="city"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Street</ion-label>
            <ion-input
              size="4"
              name="street"
              [(ngModel)]="currentCourse.street"
              type="text"
              placeholder="street"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea
              name="description"
              [(ngModel)]="currentCourse.description"
              type="text"
              placeholder="description"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea
              name="notes"
              [(ngModel)]="currentCourse.notes"
              type="text"
              placeholder="notes"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-maintain-score-card
            [scoreCard]="currentCourse.scoreCard"
          ></app-maintain-score-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button [disabled]="f.invalid" expand="block" type="submit">
      Save
    </ion-button>
  </form>
</ion-content>
