<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Routines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="right-buttons" *ngIf="userService.user$ | async as user">
    <ion-item *ngFor="let routine of userRoutineService.routines$ | async" class="routine">
      <ion-label>{{routine.name}}</ion-label>
      <ion-button [routerLink]="['edit-routine', routine.id]">Edit</ion-button>
      <ion-button (click)="userRoutineService.deleteUserRoutine(user.id, routine.id)">Delete</ion-button>
    </ion-item>
  </div>
  <div class="ion-margin">
    <ion-button expand="full" [routerLink]="['new-routine']">Add Routine</ion-button>
  </div>
</ion-content>
