<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="courseService.course$ | async as course">
  <ion-list aria-disabled="true">
    <ion-item>
      <ion-label position="floating">Course Title</ion-label>
      <ion-input type="text" [(ngModel)]="course.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="course.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" [(ngModel)]="course.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Home State:</ion-label>
      <ion-select [(ngModel)]="course.state">
        <ion-select-option *ngFor="let state of states" [value]="state.abbreviation">
          {{ state.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zip</ion-label>
      <ion-input type="text" [(ngModel)]="course.zip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" [(ngModel)]="course.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Website</ion-label>
      <ion-input type="text" [(ngModel)]="course.website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="course.email"></ion-input>
    </ion-item>
  </ion-list>
  <app-tee-box [teeBoxes]="course.teeBoxes"></app-tee-box>
  <ion-button (click)="saveCourse(course)">Save</ion-button>
</ion-content>
