<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/course/{{ courseId }}"></ion-back-button>
    </ion-buttons>
    <ion-title>Tees</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      tappable
      *ngFor="let tees of teesList$ | async"
      routerLink="/course/{{ tees.courseId }}/tees/{{tees.id}}"
    >
      <ion-label>
        <h2>{{tees?.color}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToNewTees()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
