<ion-header *ngIf="currentCourse">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/course"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentCourse?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="currentCourse">
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Course Name</ion-label>
          {{ currentCourse.name }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Phone</ion-label>
          {{ currentCourse.phone }}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Website</ion-label>
          {{ currentCourse.website }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">State</ion-label>
          {{ currentCourse.state }}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">City</ion-label>
          {{ currentCourse.city }}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Street</ion-label>
          {{ currentCourse.street }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Description</ion-label>
          {{ currentCourse.description }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Notes</ion-label>
          {{ currentCourse.notes }}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="navigateToTees()">Maintain tees</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="deleteCourse()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="start" horizontal="end" slot="fixed">
    <ion-fab-button (click)="editCourse()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
